body{
  font-family: arial;
  width:40%;
  margin:0 auto;
}
.block1 {
    background-color: #385898;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;}
    .block3 {
    background-color: #385898;
    width: 95%;
    height: 30px;
    display: inline-block;
    float: right;}
    .top{
  background-color:#385898;
  height:95px;}
  
  nav a{
  display: inline-block;
  margin-right: 4%;
  color:#fff;
  padding: 12px 4px;
  
  text-decoration:none;
  font-family: arial;
  line-height:3px;
}

.bold{
  font-weight: bold;
  color:#fff496;
  width:10%;
}
.noti{
  width:15%;
}
.hihi{
  width:5%;
}
.corona{
  width:12.5%;
}
.chat{
  width:9%;
}
.ho{
  width:13%;
 background-color: #6d84b4;
}
    .girl{
        padding-top:5px;
        padding-left:5px;
        padding-right:5px;
    }
  input[type="text"]{
  width:85%;
  margin-top:5px;
 /* padding-top: 5px;
  padding-bottom:5px;*/
  

}
.search{
  background-color:#627aba;
  color:#fff;
  border:1px solid #2e417e;
  width:12%;
  height:24px;

}
.hihi:hover{
     background:#FFFFFF;
    color:#0000FF;
    width:7%;
}
.ho:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:13%;
}
.mg{
  width:12%;
}
.mg:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:12%;
}
.chat:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:11.5%;
}
.corona:hover{
      background:#FFFFFF;
    color:#0000FF;
    width:13.5%;
}
.menu:hover{
      background:#FFFFFF;
    color:#0000FF;
    width:7%;
}
.bold:hover{
      background:#FFFFFF;
    color:#385898;
    
}
.noti:hover{
    width:15%;
     background:#FFFFFF;
    color:#385898;
}
.fr:hover{
    width:15%;
}
.gr:hover{
    width:13.5%;
}
.blue{
  background-color: rgba(24,119,242,1);
  width:100%;
  height:117px;
}
.write{
  color:#fff;
  font-size: 25px;
  font-weight: bold;
  padding:8px;
}
.blank{
  width:100%;
  background-color:rgba(24,119,242,1);
  height:14px;
}
.small{
  color:#fff;
  font-size: small;
   padding:8px;
}
.follow{
  background-color: #fff;
  margin-left:8px;
  padding-left:218px;
  border-radius: 7px;
  padding-top:10px;
    padding-bottom:10px;
   display: inline-block;
   float:left;
  width:50%;
}
.flw{
   font-weight: bold;
   font-size: medium;
   color:rgba(24,119,242,1);
  
}
.img{
  display: inline-block;
   float:right;
   background-color: rgba(24,119,242,1);
   width:10%;
}
.blank1{
  background-color:#e4e6eb;
  width: 100%;
  height:8px;
}
.next{
  background-color: #f5f6f7;
  width:96%;
  padding:7px;
  margin-left: 4px;
  margin-top: 7px;
  margin-bottom: 7px;
  height:80px;
}
.visit{
    background-color:#e4e6eb;
  margin-left:8px;
  padding-left:218px;
  border-radius: 7px;
  padding-top:10px;
    padding-bottom:10px;
   display: inline-block;
   float:left;
  width:50%;

}
.vst{
   font-weight: bold;
   font-size: medium;
}
.img1{
  display: inline-block;
   float:right;
   background-color: #f5f6f7;
   width:8%;
}
.tab{
  width: 100%;
  background-color: #fff;
  margin-top:14px;
   border-bottom: 1px solid #cdd5e2;
}
.rcg{
  font-weight: bold;
  padding-left:6px;
}
.t{
  width:10%;
}
.main{
  font-weight: bold;
}
.main2{
  color:#90949c;
  font-size:small;
}
.flw1{
  font-size: small;
}

table{
  border-collapse: collapse;
  border:0.1px solid #fff;
  width:100%;
}
.tab1{
  margin-top:10px;
    width: 100%;
  background-color: #fff;
   border-bottom: 1px solid #cdd5e2;
}