body{
  font-family: arial;
  width:40%;
  margin:0 auto;
}
.block1 {
    background-color: #385898;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;}
    .block3 {
    background-color: #385898;
    width: 95%;
    height: 30px;
    display: inline-block;
    float: right;}
    .top{
  background-color:#385898;
  height:95px;}
  
  nav a{
  display: inline-block;
  margin-right: 4%;
  color:#fff;
  padding: 12px 4px;
  
  text-decoration:none;
  font-family: arial;
  line-height:3px;
}

.bold{
  font-weight: bold;
  color:#fff496;
  width:10%;
}
.noti{
  width:15%;
}
.hihi{
  width:5%;
}
.mg{
  width:12%;
}
.corona{
  width:12.5%;
}
.chat{
  width:9%;
}
.ho{
  width:14%;
 background-color: #6d84b4;
}
    .girl{
        padding-top:5px;
        padding-left:5px;
        padding-right:5px;
    }
  input[type="text"]{
  width:85%;
  margin-top:5px;
 /* padding-top: 5px;
  padding-bottom:5px;*/
  

}
.search{
  background-color:#627aba;
  color:#fff;
  border:1px solid #2e417e;
  width:12%;
  height:24px;

}
.hihi:hover{
     background:#FFFFFF;
    color:#0000FF;
    width:7%;
}
.ho:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:20%;
}
.mg:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:12%;
}
.chat:hover{
  background:#FFFFFF;
    color:#0000ff;
    width:11.5%;
}
.corona:hover{
      background:#FFFFFF;
    color:#0000FF;
    width:13.5%;
}
.menu:hover{
      background:#FFFFFF;
    color:#0000FF;
    width:7%;
}
.bold:hover{
      background:#FFFFFF;
    color:#385898;
    
}
.noti:hover{
    width:18.5%;
}
.fr:hover{
    width:15%;
}
.gr:hover{
    width:13.5%;
}
.left{
  background-color:#fff;
  height:35px;
  width:30%;
  float:left;
  padding-top:7px;
}
.cen{
  float:right;
}
.right{
    background-color:#fff;
  height:35px;
  width:69.67%;
  float:right;
  padding-left:2px;
   padding-top:7px;
   font-weight:bold;
   color:#385898;
}
.groups{
  background-color: #f5f6f7;
  color:#90949c;
  height:65px;
  width:100%;
}
.group{
  background-color: #f5f6f7;
  color:#90949c;
  padding:3px 4px;
  height:21px;
  width:100%;
}
.t{
   width:100%;
  line-height:30px;
  color:#385898;
}
.in{
  color:#90949c;
  font-size:14px;
  line-height:0.0001px;
}
.oh{
  text-align: left;
}
.ohh{
  text-decoration: none;
}
.num{
    background: #e3e6e9;
    border-radius: 2px;
    border:#fff;
    color: #788093;
    display: inline-block;
    font-size: small;
    margin: -1px 0 -1px 6px;
    padding: 1px 3px;
   /* white-space: nowrap;*/
    width:60%;
}
.hover{
     
    color:#385898;

}
.hover:hover{
    background:#385898;
    color:#fff;
}
.hov{
  color:#4b4f56;
  font-weight:bold;
}
.hov:hover{
  background-color: #4b4f56;
  color:#fff;
}
tr{
  border-bottom: 0.8px solid #f5f6f7;
}
table{
  border-collapse: collapse;
  border:0.1px solid #fff;
  width:100%;
}