body{
  font-family: arial;
  width:40%;
  margin:0 auto;
}
.block1 {
    background-color: #385898;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;}
    .block3 {
    background-color: #385898;
    width: 95%;
    height: 30px;
    display: inline-block;
    float: right;}
    .top{
  background-color:#385898;
  height:95px;}
  
  nav a{
  display: inline-block;
  margin-right: 4%;
  color:#fff;
  padding: 12px 4px;
  
  text-decoration:none;
  font-family: arial;
  line-height:3px;
}

.bold{
  font-weight: bold;
  color:#fff496;
  width:10%;
}
.noti{
  width:15%;
}
.hihi{
  width:5%;
}
.corona{
  width:12.5%;
}
.chat{
  width:9%;
}
.ho{
  width:15%;
 background-color: #6d84b4;
}
    .girl{
        padding-top:5px;
        padding-left:5px;
        padding-right:5px;
    }
  input[type="text"]{
  width:85%;
  margin-top:5px;
 /* padding-top: 5px;
  padding-bottom:5px;*/
  

}
.search{
  background-color:#627aba;
  color:#fff;
  border:1px solid #2e417e;
  width:12%;
  height:24px;

}
.hihi:hover{
     background:#FFFFFF;
    color:#0000FF;
    width:7%;
}
.ho:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:15%;
}
.mg{
  width:12%;
}
.mg:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:12%;
}
.chat:hover{
  background:#FFFFFF;
    color:#0000FF;
    width:11.5%;
}
.corona:hover{
      background:#FFFFFF;
    color:#0000FF;
    width:13.5%;
}
.menu:hover{
      background:#FFFFFF;
    color:#0000FF;
    width:7%;
}
.bold:hover{
      background:#FFFFFF;
    color:#385898;
    
}
.noti:hover{
    width:18.5%;
}
.fr:hover{
    width:15%;
}
.gr:hover{
    width:13.5%;
}
.next{
  background-color: #f5f6f7;
  width:100%;
  height:48px;
}
.hd{
   
  background-color: #4267b2;
  border: 1px solid #365899;
  color:#fff;
  font-weight: bold;
  font-size: medium;
  width:20%;
  height:32px;
  margin:8px auto;
  margin-right: 200px;
}
.mid{
  padding:200px;
}
.cp{
  width:100%;


}

  div.relative {
  position: relative;
} 

div.absolute {
  position: absolute;
  top: 260px;
  right:730px;
}

.center{
  background-color: #fff;
  width:100%;
  text-align: center;
  padding-top:40px;

  height:40px;
}
.hd{
  color:#42464d;
  font-size: large;
  font-weight: bold;
   padding-left: 190px;
   background-color: white;
   border:1px solid #fff;
}
.hd1{
  color:#385898;
}
.prof{
  background-color: #fff;
  width:100%;
}
.small{
  font-size: small;
  color:gray;
}
.color{
  color:#385898;
}
.textd{
  text-decoration: none;
  color:#385898;
}
.top1{
  background-color:#dadde1;
  width:22.92%;
  float:left;
  display:inline-block;
  height:29.4px;
}
.nm{
  font-size:medium;
  border:2px solid #b0e0e6;
}
.se{
  background-color:#dadde1;
  color:#385898;
  border:1px solid #dadde1;
  text-align: left;
}
.lab{
  padding:3px;
  line-height: 30px;
  color:#4b4f56;
}
.top2{
  background-color:#dddfe2;
  width:77.08%;
    float:right;
  display:inline-block;
  height:29.4px;

}
.down{
  padding-top:3px;
}
.me{
      border: 1px solid #8d949e;
      padding-left:3px;
}
.next{
  background-color:#dddfe2;
  width:67px;
 height:58px;
  float:left;
  display:inline-block;

}
.next1{
  background-color:#dddfe2;
  width:88.974%;
  float:right;
  display:inline-block;
  height:58px;
}
.sr{
  height:42px;
  border-radius:20px;
  border:1px solid #5e5e5e;
}
.search1{
  background-color:#f5f6f7;
  color:#4b4f56;
  border:1px solid #8d949e;
  width:12%;
  height:40px;

}
.sm{
  text-decoration: none;
  color:#4b4f56;
  font-weight: bold;
}
.sm:hover{
  color:#fff;
  background-color: #4b4f56;

}
.next2{
  background-color:#dddfe2;
  width:67px;
    height:28.5px;

  float:left;
  display:inline-block;

}
.next3{
  background-color:#dddfe2;
  width:88.974%;
  height:28.5px;
  float:right;
  display:inline-block;

}
.group{
  background-color: #f5f6f7;
  border-top: 0.1px solid #cdd5e2;
  border-bottom:0.1px solid #cdd5e2;
  line-height: 30px;
  font-size: small;
  color:#385898;
}
.white{
  width: 100%;
  background-color:#dddfe2;
}
.semi{
  background-color: #fff;
  width:94%;
  border-color: #ccced3 #c4c6ca #b4b6ba;
    border-style: solid;
    border-width: 1px;
  padding:10px;
  margin:0 auto;
}
.some{
  color:#385898;
  font-weight: bold;
  font-size: small;
}
.lit{
   font-size: small;
}
.blank{
  width:100%;
  background-color: #dddfe2;
  height:14px;
}
.ok:hover{
  color:#fff;
  background-color: #385898;
}